body{
  background-color: black;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  text-align: center;
}

h1{
  text-shadow: 1px 1px 3px goldenrod;
}

h2{
  text-decoration: underline;
}

form{
  background: linear-gradient(60deg, whitesmoke, silver);
  width: 25%;
  padding: 2%;
  margin: 10px auto;
  color: black;
  border-radius: 10px;
}

input{
  border-radius: 10px;
  padding: 2px;
}

input[type = submit]{
  margin-top: 10px;
  border: 2px solid gray;
  padding: 5px;
  cursor: pointer;
}

input[type = submit]:hover{
  border: 2px solid darkgoldenrod;
  opacity: 0.8;
}

button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.red{
  color: red !important;
}

ul{
  list-style: none;
}

.task-updater{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 10px auto;
}

.flex{
  flex: 1;
  color: gold;
}